
/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');


/* --- COLORS --- */
:root{
    --mainColor: #FFB45B;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --grayColor: #3B3B3B;
}



/* --- --- --- --- --- COVERS AND MIN MUSIKK PAGES --- --- --- --- --- */



/* --- ALL HTML --- */
html{
    font: 100%;
}


/* --- ALL H1 --- */
h1{
    font-family: 'Nova Round', cursive;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    padding: 2rem 0.5rem 1.5rem 1.5rem;
    color: white;
}


/* --- ALL H2 --- */
h2{
    font-family: 'Nova Round', cursive;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}


/* --- ALL H3 --- */
h3{
    font-family: 'Nova Round', cursive;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}


/* --- ALL H4 --- */
h4{
    font-size: 1.6rem;
    color: var(--whiteColor);
    padding: 3rem 0 1rem 0;
    text-decoration: underline;
}


/* --- ALL UNORDERED LISTS --- */
ul{
    list-style: none;
}


/* --- LOGO --- */
.guitarIcon{
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--blackColor);
    margin: 1.4rem 0rem;
}

.logoFlex{
    display: flex;
    background-color: var(--blackColor);
    border-style: solid;
    border-color: var(--whiteColor);
    border-width: 3px;
}


/* --- HEADER NAV --- */
.navTop{
    font-family: 'Abel', sans-serif;
    font-size: 1.7rem;
    color: var(--mainColor);
    background-color: var(--blackColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navTopUl{
    display: flex;
    flex-direction: row;
}

.navTopUl li{
    padding: 0.5rem 1.5rem;
}

.navTopBorder{
    border-style: hidden hidden solid solid;
    border-width: 3px;
    border-color: var(--whiteColor);
}



/* --- --- --- Section --- --- --- */

.coversLiA a{
    text-decoration: none;
    color: var(--mainColor);
}

.coversLiA{
    border-color: var(--whiteColor);
    border-width: 3px;
}

.covereGray{
    background-color: var(--grayColor);
    border-style: hidden solid hidden solid;

}

.covereBlack{
    background-color: var(--blackColor);
    border-style: hidden solid solid solid;
}

.covereBlackBorder{
    background-color: var(--blackColor);
    border-style: none;
}


.minMusikkLiA a{
    text-decoration: none;
    color: var(--mainColor);
}

.minMusikkLiA{
    border-style: hidden solid solid hidden;
    border-color: var(--whiteColor);
    border-width: 3px;
}

.minMusikkGray{
    background-color: var(--grayColor);
    border-style: hidden solid hidden hidden;
}

.minMusikkBlack{
    background-color: var(--blackColor);
}

.minMusikkBlackBorder{
    background-color: var(--blackColor);
    border-style: hidden solid;
}





/* --- HEADER BUTTON --- */

.profileButton a{
    font-family: 'Abel', sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    color: var(--mainColor);
    background-color: var(--blackColor);
}

.profileButton{
    border-style: hidden solid;
    border-width: 3px;
    border-color: var(--whiteColor);
}


/* --- NAV SONGS --- */
.navSongs{
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    padding: 2.5rem 1.9rem 40rem 1.5rem ;
    color: var(--whiteColor);
    background: linear-gradient(#3B3B3B  10% , #0b0b0b 80%);
    border-style: hidden solid;
    border-width: 3px;
    border-color: var(--whiteColor);
}

.navSongs ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;  
}

.firstSongLi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--mainColor);
}

.triangelIcon{
    height: 1rem;
    align-items: center;
    padding-left: 9rem;
}

.triangelIconTwo{
    height: 1rem;
    align-items: center;
    padding-left: 10rem;
}


/* --- MAIN --- */

main{
    background-image: url(../assets/backgroundGuitar.png);
    border-style: hidden solid hidden hidden;
    border-width: 3px;
    border-color: var(--whiteColor);
}


/* --- BIG FLEX BOXES --- */
.bigFlexOne{
    display: flex;
    flex-direction: row;
}

.bigFlexTwo{
    display: flex;
    flex-direction: column;   
}

.bigFlexThree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid hidden hidden hidden;
    border-width: 3px;
    border-color: var(--whiteColor);
    color: var(--whiteColor);
}


/* --- FORSKJELLIGE TING - SJEKK SENERE --- */

.songTitles{
    padding: 2rem;
}

.songInfo{
    font-family: 'Nova Round', cursive;
    display: flex;
    flex-flow: row wrap;
    width: 24.2rem;
    font-size: 1.3rem;
    margin: 2rem 2rem 2rem 0rem;
    border-style: solid;
    border-radius: 0.8rem;
    backdrop-filter: blur(10px);
}

.songInfo li{
    padding: 1rem 1rem 1rem 1rem;
    min-width: 12rem;
}

.buttonsFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 7rem;
    padding: 7rem;
}

.buttonsFlex button{
    background-color: transparent;
    color: var(--mainColor);
    border-color: var(--mainColor);
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    backdrop-filter: blur(20px);
    min-width: 200px;
}

footer{
    font-family: 'Abel', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blackColor);
    border-style: solid;
    border-color: var(--whiteColor);
    border-width: 3px;
}

footer ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.2rem;
    padding-bottom: 4rem;
}

footer ul li a{
    text-decoration: none;
    color: var(--whiteColor);
}

footer ul li :hover{
    color: var(--mainColor);
    transition: 0.7s;
}



/* --- --- --- --- --- PROFILE PAGE --- --- --- --- --- */


.profilSection{
    display: flex;
    justify-content: center;
}

.opprettProfilDiv{
    color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 35rem;
    padding: 5rem 0rem;
    margin: 5rem 0rem 15rem 0rem;
    border-radius: 1rem;
    border-style: solid;
    backdrop-filter: blur(20px);
}

.h2Profil{
    margin-bottom: 3rem;
    font-size: 3rem;
}

form{
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

form input{
    height: 1.5rem;
    width: 14rem;
    border-radius: 0.2rem;
}

.opprattButton{
    margin-top: 2rem;
    background-color: var(--mainColor);
    letter-spacing: 0.1rem;
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
    border-color: var(--whiteColor);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
}




/* --- --- --- MEDIA SCREEN UNDER 950PX --- --- --- */

@media screen and (max-width: 950px){
    
    .bigFlexOne{
        display: flex;
        flex-direction: row;
        justify-content: left;
        border-style: none;        
    }

    .bigFlexTwo{
        padding-right: 17rem;
        border-style: solid hidden;
        border-color: var(--whiteColor);
        border-width: 3px;
    }

    .bigFlexThree{
        display: flex;
        flex-direction: column; 
        align-items: center;  
        border-style: none;
    }

    .songTitles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .songInfo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 16rem;
        margin: 2rem 0rem;
    }

    .songInfo li{
        padding: 1.2rem 0rem;
        min-width: 8rem;
    }

    .buttonsFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




/* --- --- --- MEDIA SCREEN UNDER 650PX --- --- --- */

@media screen and (max-width: 650px){

    h1{
        font-size: 3rem;
        padding: 1.5rem 0.2rem 1.5rem 0.5rem ;
    }

    .guitarIcon{
        width: 2.5rem;
        height: 2.5rem;
        margin: 1.8rem 0rem;
    }

    .navTop{
        font-size: 1.5rem;
    }

    .navSongs{
        font-size: 1.3rem;
    }
        
    .balanceLi{
        color: var(--whiteColor);
    }

    .triangelIcon{
        display: none;
    }

    .bigFlexOne{
        display: flex;
        flex-direction: column;
    }

    .profileButton a{
        border-style: solid hidden;
        border-width: 0px;
        border-color: var(--whiteColor);
        font-size: 1.5rem;
    }

    .navSongs{
        padding-bottom: 10rem;
        border-style: hidden hidden hidden solid;
    }

    .bigFlexTwo{
        display: none;
    }

    .navTop{    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navTopUl{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .h2Profil{
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .opprettProfilDiv{
        width: 30rem;
        height: 30rem;
        padding: 2rem 0rem;
        margin: 4rem 0rem 10rem 0rem;
        border-radius: 1rem;
        border-style: solid;
    }
}
